In [23]:
import os
import pandas as pd

In [24]:
PATH = os.path.join("../data/Hongkong.csv")
pd.read_csv(PATH)

,YEAR,Hong Kong/CGPD RELATIVE TO THE UNITED STATES (unit US=100),Hong Kong/CONSUMPTION SHARE OF CGPD (unit %),Hong Kong/CONSUMPTION SHARE OF RGDPL (unit %),Hong Kong/CURRENT SAVINGS (unit %),Hong Kong/EXCHANGE RATE (unit US=1),Hong Kong/GOVERNMENT SHARE OF CGDP (unit %),Hong Kong/GOVERNMENT SHARE OF RGDPL (unit %),Hong Kong/INVESTMENT SHARE OF CGDP (unit %),Hong Kong/INVESTMENT SHARE OF RGDPL (unit %),Hong Kong/OPENNESS IN CONSTANT PRICES (unit %),Hong Kong/OPENNESS IN CURRENT PRICES (unit %),Hong Kong/POPULATION (unit 000S),Hong Kong/PRICE LEVEL OF CONSUMPTION (unit PPP/XRATE),Hong Kong/PRICE LEVEL OF GOVERNMENT (unit PPP/XRATE),Hong Kong/PRICE LEVEL OF GROSS DOMESTIC PRODUCT (unit US=100),Hong Kong/PRICE LEVEL OF INVESTMENT (unit PPP/XRATE),Hong Kong/RATIO OF GNP TO GDP (CURRENT PRICES) (unit %),Hong Kong/REAL GROSS DOMESTIC PRODUCT PER CAPITA (CURRENT PRICES) (unit $ CURRENT)
0,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1960,23.591348,72.020689,69.391913,26.672895,5.714300,1.306416,1.619497,36.820312,29.429669,104.249791,186.785331,3064.00,57.541289,369.915931,57.004985,44.853624,100.452794,681.416999
11,1961,23.612333,73.742226,70.892517,24.950364,5.714300,1.307409,1.577885,35.976092,28.853914,98.285570,173.458076,3219.84,58.912466,360.151525,57.970843,45.059177,99.604815,693.083729
12,1962,24.485468,72.212962,68.947621,26.247182,5.714300,1.539857,1.816809,37.822188,30.966945,97.423956,170.558181,3360.56,58.752272,282.496611,57.175427,44.991281,99.844061,760.400433
13,1963,28.303136,63.923954,61.250969,30.402699,5.714300,5.673347,6.619107,40.382915,33.162842,86.131478,160.611002,3486.16,58.796097,66.992606,54.447853,45.802423,99.903952,914.953221
14,1964,29.576879,61.591284,59.141794,32.740023,5.714300,5.668692,6.555642,43.176877,35.562498,85.173430,160.777409,3596.64,59.094268,68.474224,54.740829,46.727644,99.572592,1014.007150
15,1965,32.939845,57.305306,56.985576,37.447328,5.714300,5.247365,6.106552,40.933772,34.864622,78.750027,143.720787,3692.00,58.542524,70.730244,54.404976,46.519846,100.000000,1211.978782
16,1966,32.899880,63.231743,62.110941,31.158887,5.714300,5.609370,6.326289,34.755908,29.430242,82.185398,158.240834,3772.24,54.484736,67.554787,50.409618,40.228603,100.000000,1309.939359
17,1967,33.489542,61.866380,62.800616,32.226649,5.743158,5.906970,6.767949,27.604883,24.251541,86.859019,159.493098,3837.36,54.964700,66.348999,50.426804,36.849673,100.000000,1388.151113
18,1968,33.176924,64.740255,65.840645,29.222823,6.060600,6.036922,6.810683,23.875330,21.238289,95.496088,178.118371,3887.36,50.893135,61.445807,47.009958,32.830216,100.000000,1487.528088
19,1969,36.048847,63.078353,64.956604,30.997820,6.060600,5.923827,6.666508,22.195714,19.888244,97.993654,184.131416,3922.24,50.245727,57.827661,46.966287,34.747594,100.000000,1733.991243
20,1970,39.511211,63.381145,65.198393,30.694047,6.060600,5.924807,6.468156,23.020797,20.680637,99.470493,181.490343,3942.00,49.819219,58.286437,48.760157,43.392580,100.000000,1975.666497
21,1971,41.156015,64.345175,66.421592,29.985002,5.977433,5.669824,6.047994,25.831526,23.453374,99.241559,177.491323,4012.16,50.469645,57.996062,50.111719,47.489588,100.000000,2207.688116
22,1972,43.272342,61.842231,65.164532,32.604511,5.641417,5.553258,5.922745,24.685330,23.113224,95.914788,163.844499,4089.04,55.035696,64.260721,54.907448,52.482029,100.000000,2524.309247
23,1973,44.568145,63.234136,65.755389,31.215561,5.146500,5.550303,5.769738,24.951400,22.928899,94.281571,167.197820,4172.64,67.663401,74.533016,66.374906,61.294754,100.000000,2879.468163
24,1974,43.699452,63.355819,64.152294,30.446051,5.031583,6.198130,6.172409,25.753083,22.671909,87.153274,171.115133,4262.96,73.046869,78.650134,72.100250,68.195053,100.000000,3032.635468
25,1975,45.048920,62.575559,65.235328,31.023032,4.935167,6.401409,6.539997,25.567747,22.794960,88.426792,163.745815,4360.00,69.761805,75.152075,67.837264,61.295649,100.000000,3374.377537
26,1976,50.460742,56.531874,61.209210,37.796912,4.904750,5.671215,6.021973,27.224968,25.393761,96.546177,170.496082,4443.00,70.114001,77.620216,68.936980,64.684129,100.000000,4177.103455
27,1977,52.450010,59.692703,62.979821,34.519367,4.662000,5.787930,5.863744,28.140451,25.820845,90.112189,162.525430,4510.00,73.182529,79.860419,72.212598,68.582136,100.000000,4789.784563
28,1978,52.538380,64.053855,65.746516,29.980545,4.683667,5.965600,5.899610,29.207129,25.934334,95.437398,172.261350,4597.00,73.560272,78.829441,73.711166,72.996673,100.000000,5368.789098
29,1979,52.897516,62.786504,64.357268,31.390102,5.002667,5.823395,5.792457,30.494879,27.195773,101.112383,179.939840,4979.00,71.833594,77.885162,75.002259,80.975757,100.000000,5979.304447
30,1980,58.270474,63.299442,64.448182,30.915013,4.976083,5.785545,5.658716,32.332085,29.017314,106.846087,181.385327,5039.00,75.213469,84.759706,79.369755,86.542407,100.000000,7091.707563
31,1981,60.469054,63.085573,63.219708,30.289487,5.589333,6.624940,6.354332,32.635817,29.017833,111.242065,186.533239,5120.00,69.224253,79.011553,72.989274,79.044624,100.000000,8161.723804
32,1982,65.129762,63.524279,64.780312,29.875955,6.069917,6.599766,6.485708,30.397361,27.178099,105.799887,174.671123,5202.00,64.968785,77.192349,67.078938,69.292941,100.000000,9054.915462
33,1983,65.295154,65.252624,65.845971,28.148203,7.265167,6.599173,6.428762,27.207708,24.429715,111.682582,193.741947,5285.00,56.035917,66.162388,56.756741,56.204185,100.000000,9758.105175
34,1984,67.512250,61.906857,64.371567,32.032607,7.818000,6.060536,6.065255,24.616265,23.342617,120.208116,209.609238,5370.00,53.936647,63.768851,54.835520,54.896684,100.000000,11128.380323
35,1985,66.752709,62.312172,66.241657,31.702468,7.790750,5.985360,6.124406,22.461553,21.797947,126.224130,209.583936,5456.00,53.958999,66.559484,54.468495,52.660019,100.000000,11684.928619
36,1986,69.714375,62.459746,64.737058,31.681234,7.803333,5.859020,5.883109,23.343304,22.293380,130.722425,214.862039,5524.00,54.931746,70.912975,56.607884,57.502246,100.000000,12779.221126
37,1987,76.343153,61.015427,63.402996,33.701791,7.798250,5.282782,5.440060,23.798788,23.106072,150.282943,235.066012,5580.50,55.834281,75.742301,59.691593,66.018096,100.000000,14771.794368
38,1988,78.358835,61.845618,63.564435,33.026432,7.806000,5.127950,5.218078,24.235378,23.153379,172.571905,256.698783,5626.60,57.999030,82.315719,64.004207,75.454135,100.000000,16185.864860
39,1989,79.085156,60.998620,64.038452,33.773900,7.799917,5.227480,5.345851,22.160449,21.675506,182.669849,254.163232,5686.20,61.216332,89.917950,68.102549,81.911390,100.000000,17389.738503
40,1990,80.407205,62.858019,65.021871,31.623409,7.789750,5.518572,5.419802,23.208257,22.823187,192.996631,260.182763,5704.50,63.869852,95.418666,70.839710,83.872603,100.000000,18497.635976
41,1991,86.768395,64.403052,66.679591,30.328584,7.771167,5.268364,5.507210,23.746389,23.211807,212.102288,270.767574,5754.80,66.659087,107.267318,73.395760,84.151694,100.000000,20365.472213
42,1992,90.038121,65.233920,66.967728,29.109736,7.740583,5.656344,5.818946,23.968811,24.146600,236.137849,280.180446,5801.50,69.894731,114.261105,78.487076,93.429919,100.000000,22075.296988
43,1993,93.118606,65.391794,67.733358,29.225001,7.735583,5.383206,5.597231,22.510737,22.819813,250.223795,275.284797,5901.00,72.504886,124.435033,82.429048,101.212614,101.448528,23749.471017
44,1994,92.480162,66.897017,68.460182,27.695491,7.728417,5.407492,5.507509,26.704075,26.943435,265.137420,278.587986,5998.00,77.057526,134.486495,87.682123,104.820314,101.186084,24816.234021
45,1995,88.679108,67.632595,66.623805,26.751184,7.735833,5.616221,5.430645,31.409992,30.566997,283.990189,304.686015,6156.00,82.086090,142.436259,91.105187,101.347097,101.950536,24736.965285
46,1996,89.038516,67.252896,67.252896,27.306484,7.734254,5.440620,5.440620,28.989986,28.989986,286.195286,286.195286,6311.00,84.613452,150.660080,93.633154,103.855278,100.000000,25993.824682
47,1997,87.916604,67.818284,67.902368,26.912464,7.742083,5.269253,5.301386,30.703214,31.022638,288.916747,269.143290,6502.00,86.329688,158.730320,96.771811,109.203469,100.765942,27076.413189
48,1998,79.401448,66.142205,67.040601,28.316548,7.745333,5.541247,5.696872,26.735520,28.031876,293.019722,256.126482,6645.60,87.460251,161.662349,96.033983,103.642683,102.278232,25591.237039
49,1999,76.110585,66.723522,65.856967,27.473153,7.757500,5.803324,5.746419,21.786720,22.748816,290.569492,260.763607,6720.70,82.200389,155.799230,91.984538,104.950947,102.850952,25668.879841
50,2000,78.308670,64.452519,63.360597,29.726056,7.791167,5.821425,5.356052,24.990460,25.266140,309.575165,295.185478,6797.00,77.309105,141.880672,85.776701,94.546159,101.736941,27892.504165